# OS Files
.DS_Store

# Virtual Environments
venv/

# Database
*.sqlite3

# Python Cache Files
__pycache__/
*.pyc

# IDE Files
.vscode/
.idea/

# Log Files
logs/

# Code Coverage Files
.coverage
htmlcov/

# Static Files
staticfiles/
